<div class="bingocard">
  <h2 id="title" style="color: {{titleColor}}; visibility: {{#if titleToggle}}visible{{else}}hidden{{/if}};" onclick="handleTitleClick()">
    {{title}}
  </h2>

  <div class="squares">
    {{#each squareInputs}}
      <div class="square" style="background-color: {{../backgroundColor}}; color: {{@../textColor}}; border: 1px solid {{../outlineColor}};" onclick="handleBoxClick()">
        {{this.text}} <!-- This will render the current text in the array -->
      </div>
    {{/each}}
  </div>
</div>
